.wp-block-tpd-captioned-heading {
  margin-bottom: 3rem;

  &:not(:first-child) {
    margin-top: 100px;
  }

  .tpd-captioned-heading-subtitle {
    color: $link-1;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  .tpd-captioned-heading {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
    color: $color-1-strong;
  }
  .tpd-captioned-heading-content {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

body.home,
.edit-post-visual-editor {
  main > div:first-child,
  div:not(.block-editor-inner-blocks) > .block-editor-block-list__layout > .wp-block:first-child {
    .wp-block-tpd-captioned-heading {
      margin-top: 0;
      margin-bottom: 60px;
    }

    .tpd-captioned-heading-subtitle {
      font-size: 2rem;
      text-transform: none;
    }
    .tpd-captioned-heading {
      font-size: 5rem;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .tpd-captioned-heading-content {
      font-size: 2rem;
    }
  }
}
