.tpd-control-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.wp-block-group {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;

  &.has-bg-2-background-color.has-background {
    background: $bg-2;
  
    padding: 100px 20px;
        
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      height: 100%;
      z-index: -1;
  
      background: $bg-2;
    }  
  }
}

.wp-block-columns + .wp-block-group.has-bg-2-background-color.has-background {
  margin-top: -50px;
}