.tpd-icon-callout-icon {
  width: 64px;
  height: 64px;
  fill: $link-1;
}

.wp-block-tpd-icon-callout {
  padding: 20px;
  border: 1px solid $link-1;
  border-radius: 6px;
}

.tpd-icon-callout-content {
  line-height: 1.5rem;
}