* {box-sizing: border-box}

body, html {
  font-size: 16px;
  background: $bg-1;
  color: $color-1;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  color: $link-1;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}