* {box-sizing: border-box}

body, html {
  font-size: 18px;
  line-height: 1.5rem;
  background: $bg-1;
  color: $color-1;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  color: $link-1;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-1-strong;
}

.post-content {
  width: $width-narrow;
  max-width: 100%;
  margin: auto;
}
