.post-title {
  font-size: 3rem;
}

.post-header {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -50vw;
    margin-right: -50vw;
    left: 50%;
    right: 50%;
    height: 100%;
    z-index: -1;
    margin-top: -100px;
    background: $bg-2;
  }
}