header {
  padding: 20px;
}

.site-title {
  font-size: 2rem;
}

.site-title-image {
  height: 40px;
}

.menu-main {
  vertical-align: middle;
}

.navbar-callout {
  padding: 15px 30px;
  vertical-align: middle;
  border: 1px solid $link-1;
  margin-left: 30px;

  transition: background 0.35s ease, color 0.35s ease;

  &:hover {
    background: $link-1;
    color: $color-2;
  }
}