// Header
.header-main {
  padding: 20px;
  position: relative;

  section {
    background: $bg-1;
    padding-bottom: 20px;
  }
}

// Logo section
.site-title {
  font-size: 2rem;

  img {
    max-height: 50px;
    width: auto;
  }
}

// Callout
.navbar-callout {
  padding: 15px 30px;
  vertical-align: middle;
  border: 1px solid $link-1;
  margin-left: 15px;

  transition: background 0.35s ease, color 0.35s ease;

  &:hover {
    background: $link-1;
    color: $color-2;
  }
}

// Main Menu
#menu-main {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  > li.menu-item-has-children > a:after {
    content: ' ⯆';
    position: relative;
    top: -2px;
  }


  li {
    position: relative;

    .menu-item-has-children > a:before {
      content: '⯇ ';
      position: relative;
      top: -2px;
    }
    
    a {
      color: $color-1;
      padding: 15px 15px;
      font-size: 0.85rem;
      display: inline-block;
    }

    &.current-menu-item a, &:hover > a {
      border-bottom: 2px solid $link-1;
    }
  }

  .sub-menu {
    position: absolute;
    margin: 0;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid darken($brand-2, 10%);
    top: 48px;
    background: lighten($bg-1, 10%);
    box-shadow: 1px 1px rgba(0,0,0,0.35);
    list-style: none;
    z-index: 10;

    a {
      width: 100%;
    }

    .sub-menu {
      left: -100%;
      top: -22px;
      margin-left: -62px;
    }
  }
}

// Hamburger button
.mobile-main-menu-hamburger {
  margin-left: 15px;
  padding: 15px;
  cursor: pointer;
  display: none;

  span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    
    background: $color-1;
    
    transform-origin: 5px 100%;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;

    &:first-child {transform-origin: 0% 0%;}
    &:nth-last-child(2) {transform-origin: 0% 100%;}
  }
}

.mobile-main-menu-is-open {
  .mobile-main-menu-wrap {
    top: 100px;
  }

  .mobile-main-menu-hamburger span {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, 2px);

    &:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:nth-last-child(2) {
      transform: rotate(45deg) translate(-5px, -10px);
    }
  }
}

// Mobile menu
.mobile-main-menu-wrap {
  z-index: 100;
  background: lighten($bg-1, 10%);
  padding: 20px;
  padding-top: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  max-height: calc(100% - 100px);
  overflow: auto;
  transition: top 0.5s ease;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li.menu-item-has-children > a:after {
      content: ' ⯆';
      position: relative;
      top: -2px;
    }

    li {
      border-bottom: 1px solid lighten($bg-1, 5%);

      &.current-menu-item a {
        color: $link-1;
        font-weight: bold;
        border-bottom: 2px solid $link-1;
      }
    }

    a {
      padding: 20px;
      display: block;
      color: $color-1;
    }
  }

  .sub-menu {
    // border: 1px solid darken($bg-1, 10%);
    background: lighten($bg-1, 15%);
    display: none;
    
    > li > a {padding-left: 60px}
    .sub-menu {
      background: lighten($bg-1, 20%);
      > li > a {padding-left: 120px}
    }
    .sub-menu .sub-menu {
      background: lighten($bg-1, 25%);
      > li > a {padding-left: 180px}
    }
  }

  .sub-menu-visible {
    > a:after {
      content: ' ⯅' !important;
    }
    a {
      color: $color-1 !important;
      border-bottom: none !important;
    }
    
    > .sub-menu {
      display: block;
    }
  }
}

@media screen and (min-width: $tablet) {
  .mobile-main-menu-wrap {
    top: -100% !important;
  }
}

@media screen and (max-width: $tablet) {
  .desktop-main-menu-wrap {
    #menu-main {display: none}
  }

  .mobile-main-menu-hamburger {
    display: inline-block;
  }
}

@media screen and (max-width: $phone) {
  .site-title img {max-height: 30px;}

  .mobile-main-menu-hamburger {padding: 10px;}

  .navbar-callout {padding: 10px;}
}