header {
  padding: 20px;
}

.site-title {
  font-size: 2rem;

  img {
    max-height: 50px;
    width: auto;
  }
}

.navbar-callout {
  padding: 15px 30px;
  vertical-align: middle;
  border: 1px solid $link-1;
  margin-left: 15px;

  transition: background 0.35s ease, color 0.35s ease;

  &:hover {
    background: $link-1;
    color: $color-2;
  }
}

#menu-main {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  li {
    a {
      color: $color-1;
      padding: 15px 15px;
      font-size: 0.85rem;
    }

    &.current-menu-item a {
      border-bottom: 2px solid $link-1;
    }
  }
}