$width: 1200px;

$brand-1: #1f2336;
$brand-2: #ffc576;

$bg-1: $brand-1;
$bg-2: #313552;

$color-1: #d3d7e9;
$color-1-strong: #fff;
$color-2: $bg-1;

$link-1: $brand-2;

$tablet: 991px;
$phone: 767px;