body.home {
  main > div:first-child {
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      height: 100%;
      z-index: -1;

      background-size: 100% auto;
    }

    + div {
      position: relative;
      z-index: 1;
      padding-top: 100px;
      padding-bottom: 100px;
      margin-top: -50px;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        height: 100%;
        z-index: -1;
  
        background: $bg-2;
      }  
    }
  }
}